:root {
  --cor-bege: #fef0de;
  --cor-laranja: #fb9058;
  --cor-amarelo: #f3b562;
  --cor-azul: #0f5475;
  --cor-link: #7dbdad;
  --cor-destaque: #f56e39;
  --cor-branco: #fff;
  --cor-preto: #0d0e0d;

  /* Espaçamento padrão entre seções */
  --espacamento-secao: 80px;
}
