:root {
    --cor-principal: #d8b4fe;
    --cor-secundaria: #ff9561;
    --cor-terciaria: #8261db;
    --cor-intermediaria: #e56a22;
    --cor-hover: #c65922;
    --cor-verde: #32cfcd;
    --cor-fundo: #fffdf9;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-roxo: #9765e0;
  }