/* Geral + reuso */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Archivo", sans-serif;
  }
  
  body {
    min-height: 100vh;
    background-color: var(--cor-fundo);
  }

  .marca {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
}
  
/*Dropdown menu*/

/* DROPDOWN BLOG */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--cor-preto);
}

.dropdown-toggle:hover {
  color: var(--cor-intermediaria);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 220px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

.dropdown-menu li {
  margin-bottom: 0.5rem;
}

.dropdown-menu li a {
  font-size: 1.2rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

  /*Detalhes linhas*/
  
  .line-purple,
  .line-orange {
    width: 100%;
    height: 4px;
  }
  
  .line-purple {
    background-color: var(--cor-terciaria);
  }
  
  .line-orange {
    background-color: var(--cor-secundaria);
  }
  
  /*Detalhe quebra*/
  
  .quebra {
      margin-right: 8px;
  }
  
  /*Botão reutilizável*/
  
  .btn {
      text-align: center;
      display: inline-block;
      padding: 15px 30px;
      background-color: #ff8a65; 
      color: #0d0e0d; 
      font-size: 2rem;
      font-weight: bold;
      border: 2px solid #0d0e0d;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 3px 3px 0 #0d0e0d;
      transition: all 0.2s ease-in-out;
    }
    
    .btn:hover {
      background-color: #f77f52; 
      transform: translate(-1px, -1px);
      box-shadow: 4px 4px 0 #0d0e0d;
    }

    .hamburger {
      display: none;
    }

    .container-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    align-items: center;
}

.p-footer,
.lista-footer a {
  display: flex;
  align-items: center;
}

.lista-footer a:hover {
  transform: translate(-1px, -1px);
}

    /*RESPONSIVO*/

    @media (max-width: 1250px) {
      .btn {
      padding: 1rem 2rem;
        font-family: "Archivo", sans-serif;
        font-size: 1.6rem;
      }
    }
    
    @media (max-width: 1095px) {
    
    }
    
    @media (max-width: 892px) {
    
      .titles h1 {
        font-size: 1.6rem;
      }
    }