:root {
    --cor-principal: #d8b4fe;
    --cor-secundaria: #465798; /*alterada a cor*/
    --cor-terciaria: #fdd97b;
    --cor-intermediaria: #465798;
    --cor-hover: #99bcff;
    --cor-verde: #32cfcd;
    --cor-fundo: #fef0dd;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-roxo: #f3b562; /*alterada a cor*/
  }